{% extends "base.html" %}

{% block content %}

{% load static %}

<h1>About</h1>

<div class="logo">
    {% comment %} <img class="img-thumbnail" src="{% static 'images/Logo.png' %}" alt="MyApp Logo"> {% endcomment %}
    <h1>PlaNet</h1>
</div>

<div>
    <h2>About PlaNet</h2>
    <ul class=about_bullet>
        <li>The purpose of this project is to educate people about local plants by teaching them about which plants are native, which are invasive, how to plant native species they find, etc.</li>
        <li>If the user sees a plant they are curious about, they could simply scan it and get information on that plant and how it is related to their city.</li>
        <li>By doing this, San Carlos’s ecosystem will be benefited and positively impacted with more educated planting and understanding of local plants.</li>
        <li>In the initial private versions of this project, the target audience will be limited to my close family to educate about plants/planting.</li>
        <li>Later on, as I continue working on this, it will be targeted to the general public who use it, despite their location.</li>
        <li>This project is relevant to San Carlos because as Spring approaches, it is important for people to know which plants are good to plant, which ones could be harmful to a healthy San Carlos ecosystem, and how to plant good plants so they can grow best.</li>
        <li>Many people are uneducated on native plants, and some people don’t know how to use Google Lens very well, so this project could also help educate them.</li>
        <li>As I continue to develop this program, I plan to make it publicly accessible, have access to images via Google Images, release it publicly, and use user location rather than assuming San Carlos location.</li>
    </ul>
</div>

{% endblock %}
